[submodule "glog"]
	path = deps/glog
	url = https://hub.fastgit.xyz/google/glog.git
[submodule "leveldb"]
	path = deps/leveldb
	url = https://hub.fastgit.xyz/google/leveldb.git
[submodule "yaml-cpp"]
	path = deps/yaml-cpp
	url = https://hub.fastgit.xyz/jbeder/yaml-cpp.git
[submodule "googletest"]
	path = deps/googletest
	url = https://hub.fastgit.xyz/google/googletest.git
[submodule "marisa-trie"]
	path = deps/marisa-trie
	url = https://hub.fastgit.xyz/s-yata/marisa-trie.git
[submodule "opencc"]
	path = deps/opencc
	url = https://hub.fastgit.xyz/BYVoid/OpenCC.git
